@model SubmissionIdeaVm
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

@{
    ViewData["Title"] = "Idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Submission" asp-action="Index">Submission</a></li>
        <li class="breadcrumb-item active" aria-current="page">Idea</li>
    </ol>
    <h6 class="slim-pagetitle">Idea</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <label class="section-title">Idea</label>
    <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p>
    <div class="table-responsive">
        <table class="table mg-b-0">
            <!-- truyendata -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Discription</th>
                    <th>Content</th>
                    <th>CreateDate</th>
                    <th>LastModifiedDate</th>
                    <th>User</th>
                    <th></th>

                    <th></th>
                </tr>
                @foreach (var item in Model.Idea)
                {
                    <tr>
                        <td>@item.IdeaId</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Content</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.LastModifiedDate</td>
                        <td>@item.UserName</td>
                        <td><a href="@(Configuration["BaseAddress"] + @item.FilePath)" download>Download File</a></td>
                        <td><a href="/idea/detail/@item.IdeaId">Detail</a>
                    </tr>
                }
            </thead>
            <tbody>
                <tr>
                    <td>
                        <!-- trỏ đến vị trí chỉnh xóa sửa -->
                        <a asp-controller="Submission" asp-action="Index" class="btn btn-primary">Back</a>
                        @*<a asp-controller="Idea" asp-action="Delete" class="btn btn-success">Delete</a>
                        <a asp-controller="Idea" asp-action="Create" class="btn btn-danger">Create</a>*@
                    </td>
                </tr>
        </table>
    </div><!-- table-responsive -->
</div><!-- section-wrapper -->