@model HomeVm
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slim-pageheader">
	<ol class="breadcrumb slim-breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Submission</li>
	</ol>
	<h6 class="slim-pagetitle">Submission</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
	<label class="section-title">Submission</label>
	<p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p>
	<div class="table-responsive">
		<table class="table mg-b-0">
			<!-- truyendata -->
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>ClosureDate</th>
                    <th>FinalClosureDate</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Submission)
                {
            <tr>
                <td>@item.SubId</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CloseDate</td>
                <td>@item.FinalClosureDate</td>
                <td>
                    @Html.ActionLink("Add", "CreateIdea", new { subId = item.SubId })
                </td>
                <td>
                    @Html.ActionLink("View", "Idea", new { subId = item.SubId })
                </td>
            </tr>
                }


            </thead>
			<tbody>
				
		</table>
	</div><!-- table-responsive -->
</div><!-- section-wrapper -->
